html {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: grid;
  grid-template-columns: min-content;
  gap: 10px;
}

input {
  outline: none;
}

input:invalid,
.invalid {
  border: 1px dashed red;
}

.error {
  color: red;
}
